<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.biro.footballsocer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <provider
            android:name=".data.DataProvider"
            android:authorities="com.example.biro.footballsocer"
            android:exported="false"
            android:multiprocess="true" />

        <activity
            android:name=".ui.SplashScreen"
            android:label="@string/splash_lable"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name=".ui.GameWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.biro.footballsocer" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/game_widget_provider" />
        </receiver>

        <service
            android:name=".sync.GameWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <activity
            android:name=".ui.MainActivity"
            android:label="@string/main_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/team_detail_screen"
            android:screenOrientation="portrait"/>
    </application>

</manifest>